@using Microsoft.AspNetCore.Mvc.Localization
@{
    const string loadingIndicatorElementName = ElementNames.DataTableElementName + "__loadingIndicator";
}

<script asp-name="@ResourceNames.LombiqDataTablesBefore" at="Head">
window.dataTableResources = {
    options: {
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, @T["All"].Json()]],
        language: {
            processing: '<div class="@loadingIndicatorElementName">' + @T["Loading..."].Json() + '</div>',
        },
    },
    created: function() {},
};
</script>
